/*Tag*/
body
{
    font-family: Arial;
    background-color: rgb(4, 4, 41);
}

h1
{
    text-align: center;
    text-decoration: underline;
    color: orange;
}

h3
{
    text-align: center;
    color: palevioletred;
}

p
{
    color: greenyellow;
}
/*Tag*/

/*======================================================================*/

/*Id*/
#p1
{
    font-family: 'Crete Round', serif;
    font-size: 150%;
}

#p2
{
    font-family: 'Yantramanav', sans-serif;
    font-size: 150%;
}

#p3
{
    font-family: 'Fira Code', monospace;
    font-size: 150%;
}

#p4
{
    font-family: 'Oleo Script', cursive;
    font-size: 150%;
}

#p5
{
    font-family: 'Satisfy', cursive;
    font-size: 150%;
}
/*Id*/